<div cdkDropListGroup class="chessboard">
  <ng-container *ngFor="let row of spots">
    <div
      *ngFor="let cell of row"
      cdkDropList
      [cdkDropListData]="cell"
      (cdkDropListDropped)="drop($event)"
      
      [ngClass]="(cell.cordinates.x + cell.cordinates.y) % 2 === 0 ? 'a' : 'b'"
    >
      <span
        *ngIf="cell.piece"
        cdkDrag
        [cdkDragData]="cell.cordinates"
        [innerHTML]="cell.piece.htmlCode"
        class="piece"
      ></span>
    </div>
  </ng-container>
</div>
