.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
}

[cdkDropList] {
  width: 60px;
  height: 60px;
}
.cdk-drag-preview {
  font-size: 32px;   /* match your chess piece */
  pointer-events: none;
}
span[cdkDrag] {
  font-size: 32px;
  cursor: grab;
}

.cdk-drag-placeholder {
  opacity: 0;
}


.chessboard > div {
  display: contents; /* allows nested ngFor rows */
}

.chessboard div[cdkDropList] {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.a {
  background-color: #f0d9b5;
}

.b {
  background-color: #b58863;
}

.piece {
  cursor: grab;
}
