<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <div cdkDropListGroup class="chessboard">
<div *ngFor="let spotss of spots" style="height: 10px;">
  <div style="border: 2px solid rgb(59, 229, 17) ;"
    *ngFor="let cell of spotss"
    cdkDropList
    [cdkDropListData]="cell"
    (cdkDropListDropped)="drop($event)"
  >
    <span style="border: 2px solid blue ;"
      *ngIf="cell.piece"
      cdkDrag
      [cdkDragData]="cell"
    >
     {{ cell.piece.htmlCode }} 
    </span>
  </div>
</div>
</div>
</body>
</html>